* {
  box-sizing: border-box;
}

header {
  padding: 20px;
  text-align: center;
}

body {
  background-color: #5555FF;
  color: #fff;
}

a {
  cursor: pointer;
}

.text-box {
  width: 700px;
  margin: 0 auto;
}
.buttons {
  background-color: #ccc;
  display: flex;
  gap: 10px;
}
.content-box {
  background-color: #fff;
  height: 100vh;
  color: #000;
  padding: 10px;
  outline: none;
  font: normal 16px Helvetica, sans-serif;
}

.primary-btn {
  font-size: 16px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
}
.primary-btn:hover, .primary-btn.selected {
  background-color: #f9f9f9;
}